@inject IConfiguration Configuration
@model AddMemberSystem.Models.TB_StaffBenefit

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-5" id="originalSection">
        <form asp-action="Create" method="post" class="setting-form">
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="BenefitName" class="control-label d-flex align-items-center"><span style="font-weight: 600;">အကျိုးခံစားခွင့်အမည်: &nbsp;</span></label>
                </div>
                <div class="col-md-8">
                    <input type="hidden" id="actionType" name="actionType" value="Create" />
                    <input asp-for="BenefitName" class="form-control setting-input" id="settingNameInput">
                    <span asp-validation-for="BenefitName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Amount" class="control-label d-flex align-items-center"><span style="font-weight: 600;">ပမာဏ: &nbsp;</span></label>
                </div>
                <div class="col-md-8">
                    <input type="hidden" id="actionType" name="actionType" value="Create" />
                    <input asp-for="Amount" class="form-control setting-input" id="settingAmountInput">
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4"></div>
                <div class="col-md-8 setting-submit">
                    <button type="button" class="btn btn-primary mr-3" style="margin-right: 10px;" id="addNewButton">အသစ်ထည့်မည်</button>
                    <button type="submit" id="submitButton" class="btn btn-primary ">တင်သွင်းမည်</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-5" id="confirmationSection" style="display: none;">
        <form asp-action="Delete" method="post" class="setting-form ">
            <input type="hidden" id="confirmStaffBenefitId" name="staffBenefitId" value="" />

            <div class="row">
                <div class="col-md-4">
                    <label id="ိleaveTypeLabel" class="control-label d-flex align-items-center"><span style="font-weight: 600;">အကျိုးခံစားခွင့်အမည်: </span></label>
                </div>
                <div class="col-md-8">
                    <p id="confirmInfo" style="margin: 0;"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label id="ိleaveTypeLabel" class="control-label d-flex align-items-center"><span style="font-weight: 600;">ပမာဏ: </span></label>
                </div>
                <div class="col-md-8">
                    <p id="amountData" style="margin: 0;"></p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4"><p class="text-danger" style="font-weight:bold;">ဖျက်ချင်ပါသလား။</p></div>
                <div class="col-md-8 setting-submit">
                    <button type="submit" class="btn btn-primary" style="margin-right: 10px;" id="confirmYesButton">ဖျက်မည်</button>
                    <button type="button" class="btn btn-primary" id="confirmNoButton">မဖျက်ပါ</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-7" id="listSetting">
        <table class="table table-bordered">
            <thead style="background: linear-gradient(135deg, #007bff, #0056b3); color: #fff;">
                <tr>
                    <th>နံပါတ်</th>
                    <th>အကျိုးခံစားခွင့်အမည်</th>
                    <th>ပမာဏ</th>
                    <th>ပြုပြင်ရန်</th>
                    <th>ဖျက်ရန်</th>
                </tr>
            </thead>
            <tbody id="positionList" class="text-center">
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
    <script>
        const commonUrl = @Json.Serialize(@Configuration.GetSection("AppUrls").GetSection("TestUrl").Value);

        $("#settingNameInput, #submitButton, #settingAmountInput").prop("disabled", true);

        
        $(document).on("click", ".edit-link", function () {

            $("#settingNameInput, #submitButton, #settingAmountInput").prop("disabled", false);
            $("#actionType").val("Edit");

            var settingNameId = $(this).data("setting-id");
            var settingName = $(this).data("setting-name");
            var settingAmount = $(this).data("setting-amount");

            $("#StaffBenefitPkid").remove();
            $("<input>").attr({
                type: "hidden",
                id: "StaffBenefitPkid",
                name: "StaffBenefitPkid",
                value: settingNameId
            }).appendTo("form");

            $("#actionType").val("Edit");

            $("#StaffBenefitPkid").val(settingNameId);
            $("#settingNameInput").val(settingName);
            $("#settingAmountInput").val(settingAmount);


        });

        //Delete
        $(document).on("click", ".delete-Link", function (e) {

            const settingNameId = $(this).data("setting-id");

            $('#originalSection').hide();
            $("#confirmationSection").show();

            $.getJSON(commonUrl + `/StaffBenefit/GetAllStaffBenefits?staffBenefitId=${settingNameId}`, (data) => {
                console.log("Delete Data", data);
                if (data) {
                    $("#confirmInfo").text(data.benefit);
                    $("#amountData").text(data.amount);
                    $("#confirmStaffBenefitId").val(settingNameId);
                }
            });

            $("#confirmNoButton").on("click", function () {
                $("#confirmationSection").hide();
                $('#originalSection').show();
                $("#confirmationDisplayed").val("false");
            });

        });

        //Add New
        $("#addNewButton").on("click", function () {
            $("#settingNameInput, #submitButton, #settingAmountInput").prop("disabled", false);
            $("#actionType").val("Create");

        });

        let selectedId = "";

        const FillPositionsForSettingPage = (lstNameCtrl, targetId) => {
            const targetElement = $("#" + targetId);

            targetElement.find("tbody").empty();

            const selectedName = lstNameCtrl.value;

            selectedId = selectedName;

            $.getJSON(commonUrl + "/StaffBenefit/GetAllStaffBenefits", (data) => {
                console.log(data);
                if (data && data.length > 0) {
                    const rows = data.map((item, index) => `
                                            <tr>
                                <td>${index + 1}</td>
                                        <td>${item.benefitName}</td>
                                        <td>${item.amount}</td>
                                <td><a href="javascript:void(0);" class="edit-link btn btn-primary btn-sm all-edit"
                                                                            data-setting-id="${item.staffBenefitPkid}" data-setting-name="${item.benefitName}" data-setting-amount="${item.amount}">
                                    <i class="fa fa-pencil"></i>
                                </a></td>
                                                                <td><a href="#" class="delete-Link btn btn-danger btn-sm" data-setting-id="${item.staffBenefitPkid}">
                                    <i class="fa fa-trash"></i></a></td>
                            </tr>
                            `).join('');

                    targetElement.find("tbody").html(rows);

                    $("#Position").val("");
                }
            });
        };


        $(document).ready(function () {
            FillPositionsForSettingPage({ value: selectedId }, 'listSetting');

            $("#lstDepartmentId").change(function () {
                FillPositionsForSettingPage(this, 'listSetting');
            });
        });





    </script>
}



