@inject IConfiguration Configuration
@model AddMemberSystem.Models.TB_Department

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-5" id="originalSection">
        <form asp-action="Create" method="post" class="setting-form">
            <div class="row mt-3">
                <div class="form-group col-md-3">
                    <label asp-for="Department" class="control-label d-flex align-items-center"><span style="font-weight: 600;">ဌာန: &nbsp;</span></label>
                </div>
                <div class="col-md-9">
                    <input type="hidden" id="actionType" name="actionType" value="Create" />
                    <input asp-for="Department" class="form-control setting-input" id="departmentInput">
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="form-group col-md-3">
                    <label asp-for="SerialNo" class="control-label d-flex align-items-center">
                        <span style="font-weight: 600;">အမှတ်စဉ်: &nbsp;</span>
                    </label>
                </div>
                <div class="col-md-9">
                    <input asp-for="SerialNo" type="number" class="form-control setting-input" id="serialNoInput" min="0">
                    <span asp-validation-for="SerialNo" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3"></div>
                <div class="col-md-9 setting-submit">
                    <button type="button" class="btn btn-primary mr-3" style="margin-right: 10px;" id="addNewButton">အသစ်ထည့်မည်</button>
                    <button type="submit" id="submitButton" class="btn btn-primary">တင်သွင်းမည်</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-5" id="confirmationSection" style="display: none;">
        <form asp-action="PositionDelete" method="post" class="setting-form ">
            <input type="hidden" id="confirmDepartmentId" name="departmentId" value="" />
            
            <div class="row">
                <div class="col-md-3">
                    <label id="ိdepartmentLabel" class="control-label d-flex align-items-center"><span style="font-weight: 600;">ဌာန: </span></label>
                </div>
                <div class="col-md-9">
                    <p id="confirmationDepartmentInfo" style="margin: 0;"></p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3"><p class="text-danger" style="font-weight:bold;">ဖျက်ချင်ပါသလား။</p></div>
                <div class="col-md-9 setting-submit">
                    <button type="submit" class="btn btn-primary" style="margin-right: 10px;" id="confirmYesButton">ဖျက်မည်</button>
                    <button type="button" class="btn btn-primary" id="confirmNoButton">မဖျက်ပါ</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-7" id="positionsListSetting">
        <table class="table table-bordered">
            <thead style="background: linear-gradient(135deg, #007bff, #0056b3); color: #fff;">
                <tr>
                 @*<th>နံပါတ်</th>*@
                    <th>အမှတ်စဉ်</th>
                    <th>ဌာန</th>
                    <th>ပြုပြင်ရန်</th>
                    <th>ဖျက်ရန်</th>
                </tr>
            </thead>
            <tbody id="positionList" class="text-center">
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
    <script>
        const commonUrl = @Json.Serialize(@Configuration.GetSection("AppUrls").GetSection("TestUrl").Value);

        $("#departmentInput, #submitButton, #serialNoInput").prop("disabled", true);     

        $(document).on("click", ".edit-link", function () {

            $("#departmentInput, #submitButton, #serialNoInput").prop("disabled", false);
            $("#actionType").val("Edit");

            var departmentId = $(this).data("department-id");
            var departmentEnglish = $(this).data("department-english");
            var serialNo = $(this).data("setting-no");

            $("#DepartmentPkid").remove();
            $("<input>").attr({
                type: "hidden",
                id: "DepartmentPkid",
                name: "DepartmentPkid",
                value: departmentId
            }).appendTo("form");

            $("#actionType").val("Edit");

            $("#DepartmentPkid").val(departmentId);
            $("#departmentInput").val(departmentEnglish);
            $("#serialNoInput").val(serialNo);

        });

        $(document).on("click", ".delete-Link", function (e) {

            const departmentId = $(this).data("department-id");

            $('#originalSection').hide();
            $("#confirmationSection").show();

            $.getJSON(commonUrl + `/Department/GetAllDepartments?departmentId=${departmentId}`, (data) => {
                if (data) {
                    $("#confirmationDepartmentInfo").text(data.department);
                    $("#confirmDepartmentId").val(departmentId);
                }
            });

            $("#confirmNoButton").on("click", function () {
                $("#confirmationSection").hide();
                $('#originalSection').show();
                $("#confirmationDisplayed").val("false");
            });

        });

        $("#addNewButton").on("click", function () {
            $("#departmentInput, #submitButton , #serialNoInput").prop("disabled", false);
            $("#actionType").val("Create");

        });

        let selectedDepartmentId = "";

        const FillPositionsForSettingPage = (lstDepartmentCtrl, targetId) => {
            const targetElement = $("#" + targetId);

            targetElement.find("tbody").empty();

            const selectedDepartment = lstDepartmentCtrl.value;

            selectedDepartmentId = selectedDepartment;

            $.getJSON(commonUrl + "/Department/GetAllDepartments", (data) => {
                if (data && data.length > 0) {
                    const rows = data.map((item, index) => `
                                    <tr>
                                 <td>${item.serialNo}</td>
                        <td>${item.department}</td>
                               
                        <td><a href="javascript:void(0);" class="edit-link btn btn-primary btn-sm all-edit"
                                            data-department-id="${item.departmentPkid}" data-department-english="${item.department}" data-setting-no="${item.serialNo}">
                            <i class="fa fa-pencil"></i>
                        </a></td>
                        <td><a href="#" class="delete-Link btn btn-danger btn-sm" data-department-id="${item.departmentPkid}">
                            <i class="fa fa-trash"></i></a></td>
                    </tr>
                    `).join('');

                    targetElement.find("tbody").html(rows);

                    $("#Position").val("");
                }
            });
        };


        $(document).ready(function () {
            FillPositionsForSettingPage({ value: selectedDepartmentId }, 'positionsListSetting');

            $("#lstDepartmentId").change(function () {
                FillPositionsForSettingPage(this, 'positionsListSetting');
            });
        });

   



    </script>
}
