@inject IConfiguration Configuration
@model AddMemberSystem.Models.TB_LeaveType

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-5" id="originalSection">
        <form asp-action="Create" method="post" class="setting-form">
            <div class="row mt-3">
                <div class="form-group col-md-4">
                    <label asp-for="LeaveTypeName" class="control-label d-flex align-items-center"><span style="font-weight: 600;">ခွင့်အမျိုးအစား: &nbsp;</span></label>
                </div>
                <div class="col-md-8">
                    <input type="hidden" id="actionType" name="actionType" value="Create" />
                    <input asp-for="LeaveTypeName" class="form-control setting-input" id="settingNameInput">
                    <span asp-validation-for="LeaveTypeName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="form-group col-md-4">
                    <label asp-for="LeaveDays" class="control-label d-flex align-items-center">
                        <span style="font-weight: 600;">ခွင့်ရက်အရေအတွက်: &nbsp;</span>
                    </label>
                </div>
                <div class="col-md-8">
                    <input asp-for="LeaveDays" type="number" class="form-control setting-input" id="leaveDaysInput" min="0">
                    <span asp-validation-for="LeaveDays" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4"></div>
                <div class="col-md-8 setting-submit">
                    <button type="button" class="btn btn-primary mr-3" style="margin-right: 10px;" id="addNewButton">အသစ်ထည့်မည်</button>
                    <button type="submit" id="submitButton" class="btn btn-primary">တင်သွင်းမည်</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-5" id="confirmationSection" style="display: none;">
        <form asp-action="Delete" method="post" class="setting-form ">
            <input type="hidden" id="confirmLeaveTypeId" name="leaveTypeId" value="" />

            <div class="row">
                <div class="col-md-4">
                    <label id="ိleaveTypeLabel" class="control-label d-flex align-items-center"><span style="font-weight: 600;">ခွင့်အမျိုးအစား: </span></label>
                </div>
                <div class="col-md-8">
                    <p id="confirmInfo" style="margin: 0;"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label id="ိleaveTypeLabel" class="control-label d-flex align-items-center"><span style="font-weight: 600;">ခွင့်ရက်အရေအတွက်: </span></label>
                </div>
                <div class="col-md-8">
                    <p id="daysData" style="margin: 0;"></p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4"><p class="text-danger" style="font-weight:bold;">ဖျက်ချင်ပါသလား။</p></div>
                <div class="col-md-8 setting-submit">
                    <button type="submit" class="btn btn-primary" style="margin-right: 10px;" id="confirmYesButton">ဖျက်မည်</button>
                    <button type="button" class="btn btn-primary" id="confirmNoButton">မဖျက်ပါ</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-7" id="listSetting">
        <table class="table table-bordered">
            <thead style="background: linear-gradient(135deg, #007bff, #0056b3); color: #fff;">
                <tr>
                    <th>နံပါတ်</th>
                    <th>ခွင့်အမျိုးအစား</th>
                    <th>ခွင့်ရက်အရေအတွက်</th>
                    <th>ပြုပြင်ရန်</th>
                    <th>ဖျက်ရန်</th>
                </tr>
            </thead>
            <tbody id="positionList" class="text-center">
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
    <script>
        const commonUrl = @Json.Serialize(@Configuration.GetSection("AppUrls").GetSection("TestUrl").Value);

        $("#settingNameInput, #submitButton, #leaveDaysInput").prop("disabled", true);

        
        $(document).on("click", ".edit-link", function () {

            $("#settingNameInput, #submitButton, #leaveDaysInput").prop("disabled", false);
            $("#actionType").val("Edit");

            var settingNameId = $(this).data("setting-id");
            var settingName = $(this).data("setting-name");
            var settingDays = $(this).data("setting-days");

            $("#LeaveTypePkid").remove();
            $("<input>").attr({
                type: "hidden",
                id: "LeaveTypePkid",
                name: "LeaveTypePkid",
                value: settingNameId
            }).appendTo("form");

            $("#actionType").val("Edit");

            $("#LeaveTypePkid").val(settingNameId);
            $("#settingNameInput").val(settingName);
            $("#leaveDaysInput").val(settingDays);


        });

        $(document).on("click", ".delete-Link", function (e) {

            const settingNameId = $(this).data("setting-id");

            $('#originalSection').hide();
            $("#confirmationSection").show();

            $.getJSON(commonUrl + `/LeaveType/GetAllLeaveTypes?leaveTypeId=${settingNameId}`, (data) => {
                if (data) {
                    $("#confirmInfo").text(data.leaveType);
                    $("#daysData").text(data.leaveDays);
                    $("#confirmLeaveTypeId").val(settingNameId);
                }
            });

            $("#confirmNoButton").on("click", function () {  
                $("#confirmationSection").hide();
                $('#originalSection').show();
                $("#confirmationDisplayed").val("false");
            });

        });

        $("#addNewButton").on("click", function () {
            $("#settingNameInput, #submitButton, #leaveDaysInput ").prop("disabled", false);
            $("#actionType").val("Create");

        });

        let selectedId = "";

        const FillPositionsForSettingPage = (lstNameCtrl, targetId) => {
            const targetElement = $("#" + targetId);

            targetElement.find("tbody").empty();

            const selectedName = lstNameCtrl.value;

            selectedId = selectedName;

            $.getJSON(commonUrl + "/LeaveType/GetAllLeaveTypes", (data) => {
                if (data && data.length > 0) {
                    const rows = data.map((item, index) => `
                                            <tr>
                                <td>${index + 1}</td>
                                        <td>${item.leaveTypeName}</td>
                                                <td>${item.leaveDays}</td>
                                <td><a href="javascript:void(0);" class="edit-link btn btn-primary btn-sm all-edit"
                                                    data-setting-id="${item.leaveTypePkid}" data-setting-name="${item.leaveTypeName}" data-setting-days="${item.leaveDays}">
                                    <i class="fa fa-pencil"></i>
                                </a></td>
                                        <td><a href="#" class="delete-Link btn btn-danger btn-sm" data-setting-id="${item.leaveTypePkid}">
                                    <i class="fa fa-trash"></i></a></td>
                            </tr>
                            `).join('');

                    targetElement.find("tbody").html(rows);

                    $("#Position").val("");
                }
            });
        };


        $(document).ready(function () {
            FillPositionsForSettingPage({ value: selectedId }, 'listSetting');

            $("#lstDepartmentId").change(function () {
                FillPositionsForSettingPage(this, 'listSetting');
            });
        });





    </script>
}
