@inject IConfiguration Configuration
@model AddMemberSystem.Models.TB_InitialPosition

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-6" id="originalSection">
        <form asp-action="Create" method="post" class="setting-form">
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="DepartmentId" class="control-label d-flex align-items-center"><span style="font-weight: 600;">ဌာန: &nbsp;</span></label>
                </div>
                <div class="form-group col-md-8">
                    <select id="lstDepartmentId" asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId">
                        <option value="">-----ဌာနရွေးချယ်ပါ-----</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="form-group col-md-4">
                    <label asp-for="InitialPosition" class="control-label d-flex align-items-center"><span style="font-weight: 600;">စတင်ခဲ့သည့် ရာထူး: &nbsp;</span></label>
                </div>
                <div class="col-md-8">
                    <input type="hidden" id="actionType" name="actionType" value="Create" />
                    <input asp-for="InitialPosition" class="form-control setting-input">
                    <span asp-validation-for="InitialPosition" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4"></div>
                <div class="col-md-8 setting-submit">
                    <button type="button" class="btn btn-primary col-md-4 mr-3" style="margin-right: 10px;" id="addNewButton">အသစ်ထည့်မည်</button>
                    <button type="submit" id="submitButton" class="btn btn-primary col-md-4">တင်သွင်းမည်</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6" id="confirmationSection" style="display: none;">
        <form asp-action="PositionDelete" method="post" class="setting-form ">
            <input type="hidden" id="confrimPositionId" name="positionId" value="" />
            <div class="row">
                <div class="col-md-4">
                    <label id="departmentLabel" class="control-label d-flex align-items-center"><span style="font-weight: 600;">ဌာန: </span></label>
                </div>
                <div class="col-md-8">
                    <p id="confirmationDepartmentInfo"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label id="positionLabel" class="control-label d-flex align-items-center"><span style="font-weight: 600;">ရာထူး: </span></label>
                </div>
                <div class="col-md-8">
                    <p id="confirmationPositionInfo" style="margin: 0;"></p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4"><p class="text-danger" style="font-weight:bold;">ဖျက်ချင်ပါသလား။</p></div>
                <div class="col-md-8 setting-submit">
                    <button type="submit" class="btn btn-primary col-md-4" style="margin-right: 10px;" id="confirmYesButton">ဖျက်မည်</button>
                    <button type="button" class="btn btn-primary col-md-4" id="confirmNoButton">မဖျက်ပါ</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6" id="positionsListSetting">
        <table class="table table-bordered">
            <thead style="background-color: #6c85c3;">
                <tr>
                    <th>နံပါတ်</th>
                    <th>ဌာန</th>
                    <th>စတင့်ခဲ့သည့် ရာထူး</th>
                    <th>ပြုပြင်ရန်</th>
                    <th>ဖျက်ရန်</th>
                </tr>
            </thead>
            <tbody id="positionList" class="text-center">
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
    <script>
        const commonUrl = @Json.Serialize(@Configuration.GetSection("AppUrls").GetSection("TestUrl").Value);

        let selectedDepartmentId = "";

        $("#submitButton").prop("disabled", true);

        const FillPositionsForSettingPage = (lstDepartmentCtrl, targetId) => {
            const targetElement = $("#" + targetId);

            targetElement.find("tbody").empty();

            const selectedDepartment = lstDepartmentCtrl.value;

            selectedDepartmentId = selectedDepartment;

            $("#submitButton").prop("disabled", false);

            if (selectedDepartment === "") {
                $("#submitButton").prop("disabled", true);
                $.getJSON(commonUrl + "/InitialPosition/GetAllPositionsAndDepartments", (data) => {
                    if (data && data.length > 0) {
                        const rows = data.map((item, index) => `
                                                    <tr>
                                                        <td>${index + 1}</td>
                                                        <td>${item.department.department}</td>
                                                        <td>${item.initialPosition}</td>
                                                                        <td><a href="javascript:void(0);" class="edit-link btn btn-primary btn-sm all-edit" data-position-id="${item.initialPositionPkid}" data-position-english="${item.initialPosition}"><i class="fa fa-pencil"></i></a></td>
                                                                        <td><a href="#" class="delete-Link btn btn-danger btn-sm" data-position-id="${item.initialPositionPkid}"><i class="fa fa-trash"></i></a></td>
                                                    </tr>
                                                `).join('');

                        targetElement.find("tbody").html(rows);

                        $("#InitialPosition").val("");
                    }
                });
            } else {
                // Handle the case when a specific department is selected
                $.getJSON(commonUrl + "/InitialPosition/GetPositionsByDepartment", { departmentId: selectedDepartment }, (positions) => {
                    if (positions && positions.length > 0) {
                        const rows = positions.map((position, index) => `
                                                    <tr>
                                                        <td>${index + 1}</td>
                                                        <td>${position.department.department}</td>
                                                                <td>${position.initialPosition}</td>
                                                                                <td><a href="javascript:void(0);" class="edit-link btn btn-primary btn-sm" data-position-id="${position.initialPositionPkid}" data-position-english="${position.initialPosition}"><i class="fa fa-pencil"></i></a></td>
                                                                        <td><a href="#" class="delete-Link btn btn-danger btn-sm" data-position-id="${position.initialPositionPkid}"><i class="fa fa-trash"></i></a></td>
                                                    </tr>
                                                `).join('');

                        targetElement.find("tbody").html(rows);

                        $("#InitialPosition").val("");
                    } else {
                        $("#InitialPosition").val("");
                    }
                });
            }
        };

        $(document).ready(function () {
            FillPositionsForSettingPage({ value: selectedDepartmentId }, 'positionsListSetting');

            $("#lstDepartmentId").change(function () {
                FillPositionsForSettingPage(this, 'positionsListSetting');
            });
        });

        $("#addNewButton").click(function () {
            $("#lstDepartmentId").val("");
            $("#submitButton").prop("disabled", true);
        });

        $("#addNewButton").click(function () {
            $("#actionType").val("Create");
            $("#selectedPositionId").val("");
            $("#Position").val("");
            $("#submitButton").prop("disabled", true);
        });

        $(document).on("click", ".edit-link", function () {
            var positionId = $(this).data("position-id");
            var positionEnglish = $(this).data("position-english");

            $("#selectedPositionId").remove();
            $("<input>").attr({
                type: "hidden",
                id: "selectedPositionId",
                name: "initialPositionPkid",
                value: positionId
            }).appendTo("form");


            $("#actionType").val("Edit");

            $("#selectedPositionId").val(positionId);
            console.log("herer!");

            $("#InitialPosition").val(positionEnglish);

            if ($("#lstDepartmentId").val()) {
                $("#submitButton").prop("disabled", false);
            } else {
                $("#submitButton").prop("disabled", true);
            }
        });


        $(document).on("click", ".delete-Link", function (e) {

            const positionId = $(this).data("position-id");
            $('#originalSection').hide();
            $("#confirmationSection").show();

            $.getJSON(commonUrl + `/InitialPosition/GetDepartmentAndPositionData?positionId=${positionId}`, (data) => {
                if (data) {
                    $("#confirmationDepartmentInfo").text(data.department);
                    $("#confirmationPositionInfo").text(data.position);
                    $("#confrimPositionId").val(positionId);
                }
            });

            $("#confirmNoButton").on("click", function () {
                $("#confirmationSection").hide();
                $('#originalSection').show();
                $("#confirmationDisplayed").val("false");
            });

        });
    </script>
}
