@inject IConfiguration Configuration
@model AddMemberSystem.Models.TB_Position

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-6" id="originalSection">
        <form asp-action="Create" method="post" class="setting-form">
            <div class="row mt-3">
                <div class="form-group col-md-4">
                    <label asp-for="Position" class="control-label d-flex align-items-center"><span style="font-weight: 600;">ရာထူး: &nbsp;</span></label>
                </div>
                <div class="col-md-8">
                    <input type="hidden" id="actionType" name="actionType" value="Create" />
                    <input asp-for="Position" class="form-control setting-input" id="settingNameInput">
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4"></div>
                <div class="col-md-8 setting-submit">
                    <button type="button" class="btn btn-primary col-md-4 mr-3" style="margin-right: 10px;" id="addNewButton">အသစ်ထည့်မည်</button>
                    <button type="submit" id="submitButton" class="btn btn-primary col-md-4">တင်သွင်းမည်</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6" id="confirmationSection" style="display: none;">
        <form asp-action="Delete" method="post" class="setting-form ">
            <input type="hidden" id="confirmPositionTypeId" name="positionTypeId" value="" />

            <div class="row">
                <div class="col-md-4">
                    <label class="control-label d-flex align-items-center"><span style="font-weight: 600;">ရာထူး: </span></label>
                </div>
                <div class="col-md-8">
                    <p id="confirmInfo" style="margin: 0;"></p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4"><p class="text-danger" style="font-weight:bold;">ဖျက်ချင်ပါသလား။</p></div>
                <div class="col-md-8 setting-submit">
                    <button type="submit" class="btn btn-primary col-md-4" style="margin-right: 10px;" id="confirmYesButton">ဖျက်မည်</button>
                    <button type="button" class="btn btn-primary col-md-4" id="confirmNoButton">မဖျက်ပါ</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6" id="listSetting">
        <table class="table table-bordered">
            <thead style="background-color: #6c85c3;">
                <tr>
                    <th>နံပါတ်</th>
                    <th>ရာထူး</th>
                    <th>ပြုပြင်ရန်</th>
                    <th>ဖျက်ရန်</th>
                </tr>
            </thead>
            <tbody id="positionList" class="text-center">
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
    <script>
        const commonUrl = @Json.Serialize(@Configuration.GetSection("AppUrls").GetSection("TestUrl").Value);

        $("#settingNameInput, #submitButton").prop("disabled", true);


        $(document).on("click", ".edit-link", function () {

            $("#settingNameInput, #submitButton").prop("disabled", false);
            $("#actionType").val("Edit");

            var settingNameId = $(this).data("setting-id");
            var settingName = $(this).data("setting-name");

            $("#PositionPkid").remove();
            $("<input>").attr({
                type: "hidden",
                id: "PositionPkid",
                name: "PositionPkid",
                value: settingNameId
            }).appendTo("form");

            $("#actionType").val("Edit");

            $("#PositionPkid").val(settingNameId);
            $("#settingNameInput").val(settingName);


        });

        $(document).on("click", ".delete-Link", function (e) {

            const settingNameId = $(this).data("setting-id");

            $('#originalSection').hide();
            $("#confirmationSection").show();

            $.getJSON(commonUrl + `/Position/GetAllPositionTypes?positionTypeId=${settingNameId}`, (data) => {
                console.log(data);
                if (data) {
                    $("#confirmInfo").text(data.positionType);
                    $("#confirmPositionTypeId").val(settingNameId);
                }
            });

            $("#confirmNoButton").on("click", function () {
                $("#confirmationSection").hide();
                $('#originalSection').show();
                $("#confirmationDisplayed").val("false");
            });

        });

        $("#addNewButton").on("click", function () {
            $("#settingNameInput, #submitButton").prop("disabled", false);
            $("#actionType").val("Create");

        });

        let selectedId = "";

        const FillPositionsForSettingPage = (lstNameCtrl, targetId) => {
            const targetElement = $("#" + targetId);

            targetElement.find("tbody").empty();

            const selectedName = lstNameCtrl.value;

            selectedId = selectedName;

            $.getJSON(commonUrl + "/Position/GetAllPositionTypes", (data) => {
                console.log(data, "getall")
                if (data && data.length > 0) {
                    const rows = data.map((item, index) => `
                                                            <tr>
                                                <td>${index + 1}</td>
                                                <td>${item.position}</td>
                                                <td><a href="javascript:void(0);" class="edit-link btn btn-primary btn-sm all-edit"
                                                                            data-setting-id="${item.positionPkid}" data-setting-name="${item.position}">
                                                    <i class="fa fa-pencil"></i>
                                                </a></td>
                                                                <td><a href="#" class="delete-Link btn btn-danger btn-sm" data-setting-id="${item.positionPkid}">
                                                    <i class="fa fa-trash"></i></a></td>
                                            </tr>
                                            `).join('');

                    targetElement.find("tbody").html(rows);

                    $("#Position").val("");
                }
            });
        };


        $(document).ready(function () {
            FillPositionsForSettingPage({ value: selectedId }, 'listSetting');

            $("#lstDepartmentId").change(function () {
                FillPositionsForSettingPage(this, 'listSetting');
            });
        });

    </script>
}
