@model AddMemberSystem.Models.TB_Staff

@{
    ViewData["Title"] = "ဝန်ထမ်းအချက်အလက်ပြန်လည်ပြင်ဆင်ခြင်း";
}

<h2>ဝန်ထမ်းအချက်အလက်ပြန်လည်ပြင်ဆင်ခြင်း</h2>

<hr />

<form asp-action="Edit" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="StaffPkid" />
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="ImageFile" class="control-label"><span style="font-weight: 600;">Staff Image</span></label><br />
            <img class="object-fit-fill border rounded" decoding="async" src="@("~/StaffPhoto/"+Model.StaffPhoto)" asp-append-version="true" style="height: 100px;width: 100px; border-radius: 50%; object-fit: cover;" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="SerialNo" class="control-label">
                <span style="font-weight: 600;">
                    အမှတ်စဉ်
                </span> <span style="color: red;">*</span>
            </label>
            <input asp-for="SerialNo" class="form-control" />
            <span asp-validation-for="SerialNo" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="StaffID" class="control-label"><span style="font-weight: 600;">ဝန်ထမ်းအမှတ်</span> <span style="color: red;">*</span></label>
            <input asp-for="StaffID" class="form-control" />
            <span asp-validation-for="StaffID" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="Name" class="control-label"><span style="font-weight: 600;">ဝန်ထမ်းအမည်</span> <span style="color: red;">*</span></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="FatherName" class="control-label"><span style="font-weight: 600;">ဖခင်အမည်</span> <span style="color: red;">*</span></label>
            <input asp-for="FatherName" class="form-control" />
            <span asp-validation-for="FatherName" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="DateOfBirth" class="control-label"><span style="font-weight: 600;">မွေးသက္ကရာဇ်</span> <span style="color: red;">*</span></label>
            <input asp-for="DateOfBirth" class="form-control" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="NRC" class="control-label"><span style="font-weight: 600;">မှတ်ပုံတင်အမှတ်</span> <span style="color: red;">*</span></label>
            <input asp-for="NRC" class="form-control" />
            @if (!string.IsNullOrEmpty(TempData["Message"] as string))
            {
                <div style="color: red;">
                    @(TempData["Message"] as string)
                </div>
            }
            <span asp-validation-for="NRC" class="text-danger"></span>
        </div>
    
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="DepartmentId" class="control-label"><span style="font-weight: 600;">ဌာန</span> <span style="color: red;">*</span></label>
            <select id="lstDepartmentId" asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentPkid" onchange="FillPos(this,'lstPosition'); FillInitialPos(this,'lstInitialPosition');"></select>

            <span asp-validation-for="DepartmentId" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="PositionId" class="control-label"><span style="font-weight: 600;">ရာထူး</span> <span style="color: red;">*</span></label>
            <select id="lstPosition" asp-for="PositionId" class="form-control" asp-items="ViewBag.PositionPkid">
                <option value="" selected disabled>---- ရာထူးရွေးချယ်ပါ ----</option>
            </select>
            <span asp-validation-for="PositionId" class="text-danger"></span>
        </div>

    

        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="InitialPositionId" class="control-label"><span style="font-weight: 600;">စတင်ခဲ့သည့် ရာထူး</span></label>
            <select id="lstInitialPosition" asp-for="InitialPositionId" class="form-control" asp-items="ViewBag.InitialPositionPkid">
                <option value="" selected disabled>----စတင်ခဲ့သည့်  ရာထူးရွေးချယ်ပါ ----</option>
            </select>
            <span asp-validation-for="InitialPositionId" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="Responsibility" class="control-label"><span style="font-weight: 600;">လုပ်ငန်းတာဝန်</span> <span style="color: red;">*</span></label>
            <input asp-for="Responsibility" class="form-control" />
            <span asp-validation-for="Responsibility" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="Salary" class="control-label"><span style="font-weight: 600;">လစာ</span> <span style="color: red;">*</span></label>
            <input asp-for="Salary" class="form-control" />
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="Age" class="control-label"><span style="font-weight: 600;">အသက်</span> <span style="color: red;">*</span></label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
      
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="Religion" class="control-label"><span style="font-weight: 600;">ကိုးကွယ်သည့်ဘာသာ</span> <span style="color: red;">*</span></label>
            <input asp-for="Religion" class="form-control" />
            <span asp-validation-for="Religion" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="VisibleMark" class="control-label"><span style="font-weight: 600;">ထင်ရှားသည့်အမှတ်အသား</span> <span style="color: red;">*</span></label>
            <input asp-for="VisibleMark" class="form-control" />
            <span asp-validation-for="VisibleMark" class="text-danger"></span>
        </div>
    </div><br />
    <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="Address" class="control-label"><span style="font-weight: 600;">နေရပ်လိပ်စာ</span> <span style="color: red;">*</span></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="Phone" class="control-label"><span style="font-weight: 600;">ဖုန်းနံပါတ်</span> <span style="color: red;">*</span></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="StartedDate" class="control-label">
                <span style="font-weight: 600;">
                    ဝန်ထမ်းစတင်ရက်ဆွဲ
                </span> <span style="color: red;">*</span>
            </label>
            <input asp-for="StartedDate" class="form-control" />
            <span asp-validation-for="StartedDate" class="text-danger"></span>
        </div>
  
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="Remarks" class="control-label"><span style="font-weight: 600;">မှတ်ချက်</span> <span style="color: red;">*</span></label>
            <input asp-for="Remarks" class="form-control" />
            <span asp-validation-for="Remarks" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="ImageFile" class="control-label"><span style="font-weight: 600;">ဝန်ထမ်း ဓာတ်ပုံ</span> <span style="color: red;">*</span></label>
            <input asp-for="ImageFile" accept="image/*" id="photoInput" onchange="handleFileChange(e)" />
            <div class="row" style="margin-top: 20px;">
                <div class="form-group col-sm-12 col-md-12 col-lg-4">
                    <img src="#" id="imagePreview" width="70px" height="70px" style="object-fit: cover; display: none;" alt="Member Image">
                </div>
                <button type="button" class="btn btn-danger" style="margin-top: 20px;" id="removeImage" style="display: none;">
                    ဖျက်မည်
                </button>
            </div>
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>

        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <input type="submit" value="ချိန်းမည်" class="btn btn-primary col-md-2" />
        </div>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
