@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><a href="http://blog.stackfindover.com/" rel="dofollow"><img src="/Content/Logo/YRTCRemovebg.png" alt="YRTC Logo" style="width: 50px; height: 50px; margin-bottom: 9px;"> YRTC</a></h1>
    <p>Welcome From Yangon Region Private Transport Committe <i class="bi bi-star-fill"></i> YRTC <i class="bi bi-star-fill"></i></p>
</div>
