@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/Content/css/homedashboard.css" asp-append-version="true">

@{
    var totalStaffCount = ViewBag.totalStaffCount ?? 0;
    var totalPositionCount = ViewBag.totalPositionCount ?? 0;
    var totalDepartmentCount = ViewBag.totalDepartmentCount ?? 0;
    var totalStaffPunishmentCount = ViewBag.totalStaffPunishmentCount ?? 0;
    var totalStaffLeaveCount = ViewBag.totalStaffLeaveCount ?? 0;
}

<div class="background--white" style="background: #f1f1f1;">
    <div class="container">
        <div class="box">
            <h1>Total Staffs</h1>
            <p>@totalStaffCount</p>
        </div>
        <div class="box">
            <h1>Total Positions</h1>
            <p>@totalPositionCount</p>
        </div>
        <div class="box">
            <h1>Total Deaprtments</h1>
            <p>@totalDepartmentCount</p>
        </div>        
        <div class="box">
            <h1>Total Leaves </h1>
            <p>@totalStaffLeaveCount</p>
        </div>
        <div class="box">
            <h1> - </h1>
            <p>100</p>
        </div>
    </div>


</div>









